<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Detalhes</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="detalhes"> 
        <h1> <%= pokemon1.nome %> </h1>
        <iframe <%= pokemon1.iframe %>> </iframe>
    
        <table>
            <thead>
<th colspan="2"> Detalhes </th>
            </thead>
            <tbody>
                <tr>
                    <td> Nome </td>
                    <td> <%= pokemon1.nome %>  </td>
                </tr>
                <tr>
                    <td> Tpo </td>
                    <td> <%= pokemon1.tipo %> </td>
                </tr>
                <tr>
                    <td> Categoria </td>
                    <td> <%= pokemon1.categoria %> </td>
                </tr>
                <tr>
                    <td> Altura </td>
                    <td> <%= pokemon1.altura %> </td>
                </tr>
                <tr>
                    <td> Peso </td>
                    <td> <%= pokemon1.peso %> </td>
                </tr>
                <tr>
                    <td> Habilidade </td>
                    <td> <%= pokemon1.habilidade %> </td>
                </tr>
            </tbody>

        </table>
    </section>
    </main>
    
</body>
</html>